/* import"an */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variable */
:root {
  --primary-color: crimson;
  --secondary-color: #222;
  --title-font: 'Verdana';
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

p {
  color: var(--secondary-color);
}

h2, h3 {
  font-family: var(--title-font);
}

/* navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100vw;
  height: 10vh;
  padding: 0 2rem;
  z-index: 2;
  transition: 600ms ease-in-out;
}

nav.change-bg-color {
  background-color: var(--secondary-color);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 25px;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--secondary-color);
  transition: all .5s;
}

.hamburger-menu.change-color span {
  background-color: white;
}

.exit span:first-child {
  transform-origin: right;
  transform: rotate(-45deg) translateX(-1px);
}

.exit span:nth-child(2) {
  transform: scale(0);
}

.exit span:last-child {
  transform-origin: right;
  transform: rotate(45deg) translateX(-1px);
}

nav .link-content h1,
nav .link-content h1 a {
  display: none;
}

nav .link-content {
  position: absolute;
  left: 0;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--secondary-color);
  border-top: 4.5px solid darkslategray;
  width: 100vw;
  height: 15rem;
  z-index: -1;
  transform: translateY(-130%);
  transition: 600ms ease-in-out;
}

nav .link-content.active {
  background-color: var(--secondary-color);
  transform: translateY(0);
}

nav .link-content a {
  display: none;
}

nav .link-content span {
  display: none;
}

nav .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-color);
  transition: 0.25s ease-out;
}

nav .btn a {
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
  padding: .5rem 1rem;
  transition: 0.25s ease-out;
}

nav .btn:hover {
  margin-bottom: .5rem;
  box-shadow: 0 .2rem 0 rgb(34, 34, 34);
}

nav .btn:active {
  transition: 0.1s ease-out;
  margin-bottom: .2rem;
  box-shadow: 0 .05rem 0 rgb(34, 34, 34);
}

nav .btn.change-color, nav .btn.change-color a {
  color: white;
  border-color: white;
}

nav .btn.change-color:hover {
  margin-bottom: .5rem;
  box-shadow: 0 .05rem 0 white;
}
/* end-navigation */

/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0 2rem;
}

header h1 {
  font-family: var(--title-font), sans-serif;
  margin-bottom: 1rem;
}

header h1 span {
  color: var(--primary-color);
}

header p {
  font-size: 16px;
  color: var(--secondary-color);
}

header p em {
  font-weight: bold;
  color: var(--primary-color);
}

header p br {
  display: none;
}
/* end-header */

/* detail info */
.detail-info {
  display: grid;
  grid-template-columns: 20rem;
  align-items: start;
  justify-items: center;
  justify-content: center;
  width: 100vw;
  height: 120vh;
}

.detail-info h2 {
  align-self: center;
  color: var(--primary-color);
}

.keunggulan {
  text-align: center;
}

.keunggulan h3 {
  line-height: 1.8rem;
}

.keunggulan p {
  line-height: 1.5rem;
  margin-top: .3rem;
}
/* end-detail info */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  width: 100vw;
  height: 85vh;
  padding: 3rem 2rem;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 300px;
}

footer a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 0;
}

footer a:hover {
  text-decoration: underline;
}

footer .credits {
  color: white;
  text-align: center;
}
/* end-footer */

/* responsive */
/* desktop version */
@media screen and (min-width: 577px) {
  /* navigation */
  .hamburger-menu {
    display: none;
  }

  nav .link-content {
    position: static;
    display: block;
    border-top: none;
    width: auto;
    height: auto;
    z-index: auto;
    transform: translateY(0);
    transition: none;
  }

  nav .link-content a:nth-child(2) {
    display: none;
  }

  nav .link-content h1,
  nav .link-content h1 a {
    display: inline-block;
    font-family: var(--title-font), sans-serif;
    font-style: italic;
    color: var(--primary-color);
  }

  nav .link-content a {
    display: inline;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    margin: 1rem;
  }

  nav .link-content span {
    display: inline;
  }
  /* end-navigation */

  /* header */
  header {
    padding-left: 5rem;
    padding-right: 0;
  }

  header h1 {
    margin-bottom: 0.5rem;
  }

  header p {
    font-size: 18px;
  }

  header p br {
    display: block;
  }
  /* end-header */

  /* detail info */
  .detail-info {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-areas: 'header header header' 'column1 column2 column3';
    justify-content: space-evenly;
    height: 50vh;
  }

  .detail-info h2 {
    grid-area: header;
  }

  .detail-info .column1 {
    grid-area: column1;
  }

  .detail-info .column2 {
    grid-area: column2;
  }

  .detail-info .column3 {
    grid-area: column3;
  }
  /* end-detail info */

  /* footer */
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
    padding: 1.5rem 0;
  }

  footer .footer-container {
    justify-content: space-between;
    width: 35%;
  }

  footer ul {
    flex-direction: row;
    width: 100%;
    height: 0;
  }
  /* end-footer */
}
/* end-desktop version */

/* phone with width 320px */
@media screen and (max-width: 330px) {
  header h1 {
    font-size: 1.5rem;
  }
}
/* end-phone with width 320px */
/* end-responsive */
